@charset "UTF-8";
:root {
  --main-color: #212121;
  --sec-color: #757575;
  --hover-color: #2196F3;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 1600px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.button {
  display: block;
  border: 0;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden-title {
  display: none;
}

.social-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.header__logo {
  margin-right: 93px;
}

.header__logo-studio {
  color: #000000;
}

.footer__logo-studio {
  color: #ffffff;
}

/* Стили Шапки */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Шапка Навигация */
.site-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin: 0px;
}

.site-navigation__item:not(:last-child) {
  margin-right: 50px;
}

.site-navigation__link {
  display: block;
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.site-navigation__link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background-color: var(--hover-color);
  -webkit-transition: width var(--anim-fast);
  transition: width var(--anim-fast);
  border-radius: 2px;
}

.site-navigation__link:hover::after {
  width: 100%;
  left: 0;
}

.site-navigation__link:hover, .site-navigation__link:focus {
  color: var(--hover-color);
}

.site-navigation__link--current {
  color: var(--hover-color);
}

.site-navigation__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

/* Шапка Контакты */
.head-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin-left: auto;
}

.head-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.head-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--sec-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.head-contacts__link:hover, .head-contacts__link:focus {
  color: var(--hover-color);
}

.head-contacts .icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Заказать услугу */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/heroweb.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/heroweb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

.hero__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Почему мы */
.whyme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyme__item {
  width: 270px;
}

.whyme__item:not(:last-child) {
  margin-right: 30px;
}

.whyme__icon-box {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.whyme__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.whyme__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}

/* Чем занимаемся */
.section-p-top0 {
  padding-top: 0px;
}

.section__wd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.whatdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.whatdo__item {
  position: relative;
}

.whatdo__item:not(:last-child) {
  margin-right: 30px;
}

.whatdo__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */
.section-t-bg {
  background-color: #f5f4fa;
}

.section__t-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}

.team__item {
  width: 270px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.team__social-link:hover, .team__social-link:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}

.team__social-link .icon {
  fill: currentColor;
}

/* Стили "наши клиенты" */
.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-clients__item:not(:last-child) {
  margin-right: 30px;
}

.our-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), border var(--anim-fast);
  transition: color var(--anim-fast), border var(--anim-fast);
}

.our-clients__link:hover, .our-clients__link:focus {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.our-clients__list .icon {
  fill: currentColor;
}

/* Портфолио фильтр */
.filter__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио проекты */
.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__item {
  width: 370px;
}

.project__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__text-box {
  background-color: white;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.project__class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}

.project__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.project__link:focus .project__text-box,
.project__link:hover .project__text-box {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__view-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__view-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

/* Стили Подвала */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* Подвал адрес и контакты */
.footer-contacts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.adress__box {
  margin-top: 20px;
}

.adress__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__map {
  color: #ffffff;
}

.adress__cont {
  color: rgba(255, 255, 255, 0.6);
}

/* Подвал социалка */
.foot-social__box {
  margin-left: 70px;
}

.foot-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.foot-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.foot-social__link:hover, .foot-social__link:focus {
  color: #ffffff;
  background-color: var(--hover-color);
}

.foot-social__link .icon {
  fill: currentColor;
}

/* Стили "Подписатся на рассылку" */
.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  outline: none;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe__button .icon {
  margin-left: 10px;
  fill: currentColor;
  stroke: currentColor;
}

/* Модальное окно */
.modal__backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: opacity var(--anim-fast), visibility var(--anim-fast);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.modal__close-btn .icon {
  fill: currentColor;
}

.modal__close-btn .icon:hover, .modal__close-btn .icon:focus {
  color: var(--hover-color);
}

.modal__title {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--sec-color);
}

.modal__coment {
  margin-bottom: 0px;
}

.modal__input-box {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--main-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 42px;
  border-radius: 4px;
  -webkit-transition: border var(--anim-fast);
  transition: border var(--anim-fast);
  outline: none;
}

.modal__input-box .icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: currentColor;
}

.modal__signup textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-fast);
  transition: border-color var(--anim-fast);
  outline: none;
}

.modal__agreement {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__agree-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8.38px;
  -webkit-transition: border-color var(--anim-fast), background-color var(--anim-fast), background-image var(--anim-fast);
  transition: border-color var(--anim-fast), background-color var(--anim-fast), background-image var(--anim-fast);
}

.modal__agreement > .checkbox:not(:disabled):not(:checked) + .modal__agree-text:hover > .modal__custom-checkbox {
  border-color: var(--hover-color);
}

.modal__agreement > .checkbox:not(:disabled):active + .modal__agree-text > .modal__custom-checkbox {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.modal__agreement > .checkbox:focus + .modal__agree-text > .modal__custom-checkbox {
  border-color: var(--hover-color);
}

.modal__agreement > .checkbox:focus:not(:checked) + .modal__agree-text > .modal__custom-checkbox {
  border-color: var(--hover-color);
}

.modal__agreement > .checkbox:checked + .modal__agree-text > .modal__custom-checkbox {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

.modal__agree-link {
  color: var(--hover-color);
  text-decoration: underline;
}

.modal__signup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--anim-fast);
  transition: background-color var(--anim-fast);
}

.modal__signup-btn:hover, .modal__signup-btn:focus {
  background-color: #188CE8;
}

.modal__input-box:focus-within {
  color: var(--hover-color);
}

.modal__input:focus {
  border-color: var(--hover-color);
}

.modal__signup textarea:focus {
  border-color: var(--hover-color);
}
/*# sourceMappingURL=main.css.map */