*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-width: 1600px;
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.button {
  display: block;
  border: 0;
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden-title {
  display: none;
}
.social-list {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}