/* Наша команда */
.section-t-bg {
    background-color: #f5f4fa;
  }
  .section__t-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
  .team {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sec-color);
  }
  .team__item {
    width: 270px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .team__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #afb1b8;
    transition: color var(--anim-fast), background-color var(--anim-fast);
  &:hover,
  &:focus {
      color: #ffffff;
      background-color: var(--hover-color);
    }
  }
  .team__social-link .icon {
    fill: currentColor;
  }